{% extends 'layout.html' %}
{% block content %}
<body>
    <div class="logout-form">
        <form action="/logout" method="get">
            <button type="submit">Logout</button>
        </form>
    </div>
    <h1>Nutritional tracker</h1>
    <form action="/get_info" method="post">
        <label for="food_description">Enter the meal description:</label>
        <input type="text" id="food_description" name="food_description" required>
        <button type="submit">Get nutritional information</button>
    </form>
    {% if food_description %}
        <table>
            <thead>
                <tr>
                    <th>Meal</th>
                    <th>Calories</th>
                    <th>Carbohydrates</th>
                    <th>Protein</th>
                    <th>Fat</th>
                    <th>Sodium</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Replace the following with the actual meal data -->
                <tr>
                    <td>{{ food_description }}</td>
                    <td>{{ nutritional_info['calories'] }}</td>
                    <td>{{ nutritional_info['carbohydrates']  }}</td>
                    <td>{{ nutritional_info['protein']  }}</td>
                    <td>{{ nutritional_info['fat']  }}</td>
                    <td>{{ nutritional_info['sodium']  }}</td>
                    <td>
                        <form action="/add_meal" method="post">
                            <button type="submit">Save</button>
                        </form>
                        <form action="/welcome" method="get">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}

    {% if daily_summary %}<p>{{ daily_summary }}</p>{% endif %}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Total Calories</th>
                <th>Total Carbohydrates</th>
                <th>Total Protein</th>
                <th>Total Fat</th>
                <th>Total Sodium</th>
            </tr>
        </thead>
        <tbody>
            <!-- Replace the following with the actual aggregate data for the last 7 days -->
            <tr>
                <td>2023-05-06</td>
                <td>2000</td>
                <td>300</td>
                <td>150</td>
                <td>70</td>
                <td>2000</td>
            </tr>
        </tbody>
    </table>
</body>
{% endblock %}